@model ECommerceMVC.Models.Product
@{ 
    Layout = "_Layout";
}
<!DOCTYPE html>
<body>
    <main>
        <div id="box">
            <img src="~/Images/Design.jpg" alt="background" id="index-background">
            <a asp-page="/Shop/Index" class="text-white">
                <div id="centered">
                    <h1>Welcome to QuickFix</h1>
                    <p>website that turns vision into reality</p>
                </div>

            </a>
        </div>
    </main>
</body>

