<!DOCTYPE html>
<head>
    <title>
        e-Commerce
    </title>
</head>
<body>
    <h1>
        hello World!
    </h1>
    <a asp-page="/account/login"> Click here to login</a>

    <a asp-page="/account/register"> Click here to register</a>
</body>

