@model ECommerceMVC.Models.Product
@{ 
    Layout = "_Layout";
}
<!DOCTYPE html>
<body>
    <main>
        <div id="box">
            <img src="~/Images/Design.jpg" alt="background" id="index-background">
            <a asp-page="/Shop/Index" class="text-white">
                <div id="centered">TO THE STORE</div>
            </a>
        </div>
    </main>

        @*<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="500">
                    <img src="~/Images/Boredtodeath.jpg" class="d-block w-100 h-90" alt="...">
                </div>
                <div class="carousel-item" data-interval="500">
                    <img src="~/Images/JumpStart.png" class="d-block w-100 h-90" alt="...">
                </div>
                <div class="carousel-item" data-interval="500">
                    <img src="~/Images/Google.png" class="d-block w-100 h-90" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>*@
</body>

