@model ECommerceMVC.Models.Product
@using Microsoft.AspNetCore.Identity;
@using ECommerceMVC.Models;
@inject UserManager<ApplicationUser> UserManager;
@inject SignInManager<ApplicationUser> SignInManager;

@{
    ViewData["Title"] = "Edit";
}


<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>E-Commerce</title>
    @*======================CSS style sheet=====================*@
    <link rel="stylesheet" href="~/styles/reset.css" />
    @*Using bootstrap*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/styles/base.css?t=@DateTime.Now.Ticks" type="text/css" />
    <link rel="stylesheet" href="~/styles/Admin/theme.css?t=@DateTime.Now.Ticks" type="text/css" />

    @* ========================================================= *@

</head>


<header>
    <nav class="navbar navbar-light text-black bg-dark navbar-expand-lg fixed" id="navvy">
        <a asp-page="/Home/Index">
            <img src="~/Images/logos.png" alt="logo" class="w-20 h-20 ml-1" id="logo" />
        </a>

        <button type="button" class="navbar-toggler bg-light" data-toggle="collapse" data-target="#collapsable">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsable">
            @* This logic check if user is logged in *@
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="nav navbar-nav ml-auto">
                    <a asp-page="/Shop/Index" class="bg-link text-white pr-3 my-auto nav-link">Shop</a>

                    <span class="pr-3 my-auto text-white"> Aloha @User.Claims.First(x => x.Type == "FullName").Value </span>

                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="index" asp-controller="Products" class="bg-link text-white pr-3 nav-link">Admin</a>
                    }

                    <a asp-page="/Account/Logout" class="bg-link text-white pr-1 nav-link">Logout</a>

                </div>
            }
            else
            {
                <ul class="nav navbar-nav ml-auto">
                    <li class="navbar-item col-sm-4">
                        <a asp-page="/Shop/Index" class="text-white nav-link">Shop</a>
                    </li>

                    <li class="navbar-item col-sm-4">
                        <a asp-page="/account/login" class="text-white nav-link">Login</a>
                    </li>
                    <li class="navbar-item col-sm-4">
                        <a asp-page="/account/register" class="text-white nav-link">Register</a>
                    </li>
                </ul>
            }
        </div>
    </nav>
</header>

<div class="mx-auto mt-4 col-md-8">

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    <form enctype="multipart/form-data" asp-action="Edit" class="mt-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="SKU" class="control-label"></label>
            <input asp-for="SKU" class="form-control" />
            <span asp-validation-for="SKU" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control" rows="10"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Image" class="control-label"></label>
            <input asp-for="Image" type="file" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
