@using Microsoft.AspNetCore.Identity;
@using ECommerceMVC.Models;
@inject UserManager<ApplicationUser> UserManager;
@inject SignInManager<ApplicationUser> SignInManager;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>E-Commerce</title>
    <link rel="stylesheet" href="~/styles/reset.css" />
    <link rel="stylesheet" href="~/styles/base.css" />
    <link rel="stylesheet" href="~/styles/layout.css" />
    <link rel="stylesheet" href="~/styles/module.css" />
    @*implementing bootstrap*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-light text-white bg-dark navbar-expand-lg">
            <H1 class="ml-1">ECOMMERCE</H1>
            <button type="button" class="navbar-toggler bg-secondary" data-toggle="collapse" data-target="#collapsable">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsable">

            @if (SignInManager.IsSignedIn(User))
            {
                <div class="nav navbar-nav ml-auto">
                    <span class="pr-5 my-auto"> Aloha @User.Claims.First(x => x.Type == "FullName").Value </span>

                    <a asp-page="/Account/Logout" class="bg-link text-white pr-1 nav-link">Logout</a>

                </div>
            }
            else
            {
                <ul class="nav navbar-nav ml-auto">
                    <li class="navbar-item col-sm-6">
                        <a asp-page="/account/login" class="text-white nav-link">Login</a>
                    </li>
                    <li class="navbar-item col-sm-6">
                        <a asp-page="/account/register" class="text-white nav-link">Register</a>
                    </li>
                </ul>
            }
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    @* Using JQUERY, Popper, and bootstrap *@
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
