@page "{id:int?}"
@model ECommerceMVC.Pages.Shop.ProductModel
@{
    Layout = "_Layout";

}
<!DOCTYPE html>
<body>
    <main>
        <div class="container" id="detail-page">
                <div class="text-center">
                    <img class="w-60 mx-auto" src="@Model.Product.Image" alt="Product Image"/>
                </div>

                <div>
                    <div class="col-sm-12 text-center">
                        <h1>
                            @Model.Product.Name
                        </h1>
                    </div>
                    <div class="text-center">
                        <p>
                            $@Model.Product.Price
                        </p>

                        <p>
                            @Model.Product.Description
                        </p>
                    </div>
                </div>
            </div>
    </main>
</body>
