@page "{id:int?}"
@model ECommerceMVC.Pages.Shop.ProductModel
@using Microsoft.AspNetCore.Identity;
@using ECommerceMVC.Models;
@inject UserManager<ApplicationUser> UserManager;
@inject SignInManager<ApplicationUser> SignInManager;
@{
    Layout = "_Layout";

}
<!DOCTYPE html>
<body>
    <main>
        <div class="container my-4" id="detail-page">
            <div class="text-center">
                <img class="mx-auto" src="@Model.Product.Image" alt="Product Image" id="product-image-detail"/>
            </div>

            <div>
                <div class="col-sm-12 text-center">
                    <h1>
                        @Model.Product.Name
                    </h1>
                </div>
                <div class="text-center">
                    <p>
                        $@Model.Product.Price
                    </p>

                    <p>
                        @Model.Product.Description
                    </p>
                </div>
                @if (SignInManager.IsSignedIn(User))
                    {
                <div class="col-sm-12">
                    <form method="post" class="text-center">
                        <button class="btn btn-primary" asp-route-productID="@Model.Product.ID">Purchase</button>
                    </form>
                </div>
                    }
                    else
                    {
                <div class="col-sm-12 text-center">
                    <a class="btn btn-danger" asp-page="/Account/Login">Login to purchase</a>
                </div>
                    }
            </div>
        </div>
    </main>
</body>
