@page
@model ECommerceMVC.Pages.Account.LoginModel
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<body>
    <div class="container">
        <form method="post">
            <div class="form-group row">
                <label asp-for="Input.Email" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Input.Password" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
       
    </div>

</body>

