

/*============Product page=============*/
.pagecenter {
    display:flex;
    justify-content:center;
}

.card-image {
    height: 400px;
    object-fit: cover;
}

#main-box {
    margin-top:100px;
}
/*============Detail page=============*/
#detail-page {
    margin-top: 50px;
}


/*==========Nav Bar================*/
#navvy {
    background-color: transparent !important;
}

#logo {
    width: 90px;
}

/*===============================*/
/*==========side bar============*/
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    right: 0;
}

    /* Sidebar links */
    .sidebar a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
    }

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-right: 200px;
    padding: 1px 16px;
    height: 1000px;
}

#shopping-card {
    background-color: transparent !important;
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        display: none;
    }
    div.content {
        margin-right: 0;
    }
}